<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <title>Document</title>
</head>
<body>
    <form action="/process" method="post">
        <div class="formline">
            <label for="name">
                Your name:
            </label>
            <input type="text" id="name" name="name">
        </div>
        <div class="formline dropdown">
            <label for="location">Dojo Location:</label>
            <select name="location" id="location">
                <option value="San Jose">
                    San Jose
                </option>
                <option value="LA">
                    LA
                </option>
                <option value="Bellevue">
                    Bellevue
                </option>
                <option value="Silicon Valley">
                    Silicon Valley
                </option>
            </select>
        </div>
        <div class="formline dropdown">
            <label for="language">Favorite Language:</label>
            <select name="language" id="language">
                <option value="Python">
                    Python
                </option>
                <option value="HTML">
                    HTML
                </option>
                <option value="CSS">
                    CSS
                </option>
                <option value="JavaScript">
                    JavaScript
                </option>
            </select>
        </div>
        <label for="comment">Comment (optional):</label>
        <div>
            <textarea name="comment" cols="45" rows="8"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>